.about-clinic {
  padding: 33px 0 0;
}

.about-clinic__wrap {
  color: $grey;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.about-clinic__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  margin: 0;
}

.about-clinic__title-color {
  font-weight: 700;
  color: #42afd2;
}

.about-clinic__title-description {
  font-size: 12px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}

.about-clinic__info {
  line-height: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: flex-start;
    max-width: 724px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.about-clinic__item {
  margin-bottom: 46px;
  padding-left: 30px;
  max-width: 350px;

  span {
    color: $grey;
    font-weight: 500;
  }

  @media (min-width: $tablet-width) {
    width: 50%;

    &--1 {
      order: 1;
    }

    &--2 {
      order: 2;
    }

    &--3 {
      order: 3;
    }

    &--4 {
      order: 4;
    }
  }
}

.about-clinic__item-wrap {
  display: flex;
}

.about-clinic__decor {
  width: 1px;
  height: auto;
  background-color: $blue;
  left: -23px;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  margin-top: 10px;
  margin-bottom: 8px;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    width: 15px;
    height: 15px;
    border: 5px solid $blue;
    border-radius: 50px;
    top: -12px;
    right: -7px;
  }

  &::after {
    width: 7px;
    height: 7px;
    background-color: $blue;
    border-radius: 50%;
    bottom: -12px;
    right: -3px;
  }
}
