.about-clinic {
  padding: 0 15px;
}

.about-clinic__wrap {
  font-size: 12px;
  line-height: 52px;
  color: $grey;
}

.about-clinic__title {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.about-clinic__title-color {
  font-weight: 700;
  color: #42afd2;
}

.about-clinic__info {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about-clinic__item {
  margin-bottom: 35px;
  padding-left: 30px;
  display: flex;

  span {
  color: $grey;
  font-weight: 500;
  }
}

.about-clinic__decor {
  width: 1px;
  height: auto;
  background-color: $blue;
  left: -18px;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  margin-top: 10px;
  margin-bottom: 12px;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    width: 15px;
    height: 15px;
    border: 5px solid $blue;
    border-radius: 50px;
    top: -13px;
    right: -7px;
  }

  &::after {
    width: 7px;
    height: 7px;
    background-color: $blue;
    border-radius: 50%;
    bottom: -14px;
    right: -3px;
  }
}
