.about-clinic {
  padding: 0 15px;
}

.about-clinic__wrap {
  font-size: 12px;
  line-height: 52px;
  color: $grey;
}

.about-clinic__title {
  font-size: 24px;
  margin: 0;
}

.about-clinic__title-color {
  font-weight: 700;
  color: #42afd2;
}

.about-clinic__info {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about-clinic__item {
  margin-bottom: 35px;
  padding-left: 30px;

  span {
  color: $grey;
  font-weight: 500;
  }
}
