.advantages {
  padding: 11px 0 6px;

  color: $text-color;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0 2px;
  }
}

.advantages__list {
  display: flex;

  counter-reset: section;

  flex-wrap: wrap;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    margin: 0 -15px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.advantages__item {
  position: relative;
  z-index: 1;

  width: 100%;
  margin-bottom: 26px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;

    width: 50%;
    margin-bottom: 48px;
    padding: 0 15px;

    dd {
      max-width: 285px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 23%;

    dd {
      max-width: 214px;
      color: $light-grey;
    }
  }
}

.advantages__title {
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;

  margin-bottom: 9px;
  padding-top: 40px;
  position: relative;

  color: $blue;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 25px;

    margin-bottom: 11px;
  }
}

.advantages__title::after {
  font-size: 86px;
  font-weight: 700;

  position: absolute;
  z-index: -1;
  top: 24px;
  left: 0;

  content: "0"counter(section);
  counter-increment: section;

  color: #f7f9fc;

  @media (min-width: $tablet-width) {
    font-size: 100px;

    top: 22px;
  }
}
