.contacts {
  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.contacts__title {
  @include font-title;
}

.contacts__info {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.contacts__item {
  font-size: 11px;
  color: $grey;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 16px;
  }
}

.contacts__icon {
  font-size: 8px;
  color: #919191;
  margin: 0;
  padding-top: 20px;

  &--point {
    background: url("../../img/icon-point.png") no-repeat top center;
  }

  &--calendar {
    background: url("../../img/icon-calendar.png") no-repeat top center;
  }

  &--mail {
    background: url("../../img/icon-mail.png") no-repeat top center;
  }

  &--call {
    background: url("../../img/icon-call.png") no-repeat top center;
  }

  @media (min-width: $tablet-width) {
    font-size: 12px;
  }
}

.contacts__address {
  font-size: 10px;
  line-height: 14px;
  color: $light-grey;
  text-align: center;
}
