.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &--feedback {
    max-width: 600px;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.form__phone-header {
  border-radius: 17px;
  border: 0;
  padding: 7px 5px 6px 35px;
  background: url("../../img/icon-call.png") no-repeat $white;
  background-position: 13px 12px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.06);
  margin: 0 12px 12px;
  width: 266px;
  font-size: 9px;
  line-height: 20px;
  color: $text-color;

  @media (min-width: $tablet-width) {
    width: 214px;
  }
}

.form__phone {
  border-radius: 17px;
  border: 0;
  padding: 12px 5px 12px 41px;
  background: url("../../img/icon-call.png") no-repeat $white;
  background-position: 19px 11px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.06);
  margin: 0 12px 14px;
  width: 244px;
  font-size: 10px;

  &--feedback {
    width: 287px;
    padding: 12px 10px 14px 37px;
    margin: 0;
    margin-bottom: 17px;
    background-position: 13px 12px;
  }

  @media (min-width: $tablet-width) {
    width: 270px;
  }
}

.form__name {
  border-radius: 17px;
  border: 0;
  padding: 8px 10px 10px 38px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 13px;
  background: url("../../img/icon-user.png") no-repeat $white;
  background-position: 15px 10px;
  width: 287px;
  font-size: 11px;
  line-height: 18px;
}

.form__button-header {
  font-size: 9px;
  line-height: 20px;
  font-weight: 700;
  color: $white;
  border-radius: 16px;
  background-image:  linear-gradient( -29deg, rgb(79,195,233) 0%, rgb(54,163,198) 100%);
  box-shadow: 5px 9px 21px rgba(54, 163, 198, 0.55);
  display: block;
  width: 266px;
  text-align: center;
  padding: 6px 5px 7px 3px;
  margin: 0 auto 10px;

  @media (min-width: $tablet-width)  {
    width: 192px;
  }
}
.form__button {
  font-size: 10px;
  line-height: 21px;
  font-weight: 700;
  color: $white;
  border-radius: 16px;
  background-image:  linear-gradient( -29deg, rgb(79,195,233) 0%, rgb(54,163,198) 100%);
  box-shadow: 5px 9px 21px rgba(54, 163, 198, 0.55);
  display: block;
  width: 244px;
  text-align: center;
  padding: 7px 5px 7px 3px;
  margin: 0 auto 14px;

  &--feedback {
    width: 179px;
  }

  @media (min-width: $tablet-width) {
    width: 242px;
  }
}

.form__label {
  margin: 9px 0 0 15px;
  color: #909090;


  &--header {
    color: $text-color;
    margin-left: 0;
  }
}

.form__check {
  font-size: 10px;
  line-height: 15px;
  padding-left: 45px;
  position: relative;
  display: block;
}

.form__check::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #93a3b4;
  border-radius: 3px;
  left: 24px;
}

.form__checked:checked + .form__check::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: $blue;
  border-radius: 50%;
  left: 28px;
  top: 4px;
}

.form__text {
  width: 100%;
  border: 0;
  border-radius: 24px;
  font-size: 10px;
  line-height: 18px;
  padding: 11px 5px 3px 40px;
  margin-bottom: 15px;
}
