.header {
  padding: 25px 0 32px;
  background-image: url("../../img/bg-mobile-2.png"), linear-gradient(45deg, #d2e0eb, #f4f7f9 35%, #d2e0eb);
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
  flex-wrap: wrap;
}

.header__phone {
  color: $grey;
  font-size: 10px;
  line-height: 9px;
  font-weight: 500;
  display: block;
  background-color: $white;
  text-align: center;
  padding: 9px 5px;
  border-radius: 30px;
  width: 118px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 189px;
    padding-left: 38px;
    font-size: 13px;
    line-height: 12px;

    &::before {
      content: "";
      position: absolute;
      width: 31px;
      height: 31px;

      top: 5px;
      left: 10px;

      @include circle;
    }

    &::after {
      content: "";
      position: absolute;
      background: url("../../img/icon-call-btn.png") no-repeat;
      width: 14px;
      height: 14px;
      top: 13px;
      left: 18px;
    }
  }
}

.header__phone-description {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    color: #909090;
    font-size: 9px;
    text-decoration: underline;
  }
}

.header__nav-btn {
  z-index: 2;
  font-size: 0;
  position: relative;
  display: block;
}

.header__nav-btn--open::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 24px;
  background-color: #4eb7d9;
  box-shadow: 0 6px 0 0 #4eb7d9;
  right: 0;
  top: 7px;
}

.header__nav-btn--open::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 16px;
  background-color: #4eb7d9;
  top: 19px;
  right: 8px;
}

.header__nav {
  width: 100%;
  height: 100vh;
  background-color: $white;
  margin: -60px -15px 0;
  padding-top: 120px;
  z-index: 1;
  position: absolute;
}

.header__nav-item {
  color: $grey;
  font-size: 18px;
  line-height: 36px;
  display: block;
  text-align: center;
}

.header__nav-btn--closed {
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #4eb7d9;
    width: 20px;
    height: 2px;
    top: 11px;
    right: 4px;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header__nav-btn--closed + .header__nav {
  display: block;
}

.header__nav-btn--open + .header__nav {
  display: none;
}
