.pricelist {
  padding: 0 15px 50px;
  background-color: #f4f7f9;
}

.pricelist__btn {
  background-color: $white;
  color: $black;
  font-weight: 500;
  border: 1px solid $white;
  border-radius: 30px;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.06);
  width: 290px;
  padding: 7px 6px 7px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
}

.pricelist__btn-open {
  width: 26px;
  height: 27px;
  border-radius: 50%;
  background-image: linear-gradient( -29deg, rgb(61,168,202) 0%, rgb(79,195,233) 50%, rgb(61,168,202) 100%);
  display: inline-block;
  position: relatie;

  &::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border: 1px solid #d1eef7;
    top: 19px;
    right: 15px;
    border-bottom: transparent;
    border-right: transparent;
    transform: rotate(43deg);
  }
}

.pricelist__block {
  background-color: #fbfbfb;
  padding: 10px;
  width: 89%;
  margin: 0 auto;
  box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 25px 25px;
  z-index: 1;
}

.pricelist__table {
  max-width: 525px;
  font-size: 10px;
  line-height: 14px;
  color: $black;
}

.pricelist__table-title {
  caption-side: top;
  font-size: 12px;
  line-height: 40px;
  color: $black;
  padding: 0;
}

.pricelist__price {
  font-weight: 700;
  color: $blue;
}

.pricelist__item {
  &:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
  }

  td {
    padding: 10px 0;
  }

  td:first-child {
    padding-right: 10px;
    width: 78%;
  }
}
