.pricelist {
  padding: 0 0 50px;
  background-color: #f4f7f9;
}

.pricelist__btn {
  background-color: $white;
  color: $black;
  font-size: 12px;
  line-height: 17px;
  font-weight: 500;
  border: 1px solid $white;
  border-radius: 30px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.06);
  width: 100%;
  padding: 4px 5px 4px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.pricelist__btn-add {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.pricelist__btn-open {
  width: 25px;
  height: 26px;

  @include circle;
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border: 1px solid #d1eef7;
    top: 11px;
    right: 9px;
    border-bottom: transparent;
    border-right: transparent;
    transform: rotate(43deg);
  }
}

.pricelist__block {
  background-color: #fbfbfb;
  padding: 16px 10px 10px 10px;
  width: 88%;
  margin: 0 auto;
  box-shadow: 2.5px 4.33px 10px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 25px 25px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding: 10px 77px;
  }
}

.pricelist__table {
  max-width: 525px;
  font-size: 10px;
  line-height: 14px;
  color: $black;
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 970px;
    font-size: 14px;
  }
}

.pricelist__table-title {
  caption-side: top;
  font-size: 12px;
  line-height: 40px;
  color: $black;
  padding: 0;
  padding-left: 6px;
}

.pricelist__price {
  font-weight: 700;
  color: $blue;

  @media (min-width: $desktop-width) {
    padding-left: 69px;
  }
}

.pricelist__item {
  &:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
  }

  td {
    padding: 15px 0 0 7px;
  }

  td:first-child {
    width: 73%;
  }

  @media (min-width: $tablet-width) {
    td {
      padding: 10px 27px;
    }
  }
}

// .pricelist__btn--closed + .pricelist__block {
//   display: none;
// }


// .pricelist__btn--open + .pricelist__block {
//   display: block;
// }

@keyframes scale-display {
from {
    opacity: 0;
    transform: translate3d(0, -20px);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0);
  }
}

@keyframes scale-display--reversed {
  0% {
    opacity: 1;
    transform: translate3d(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -20px);
  }
}

.button-disapear {
  display: none;

    &--open {
      animation: scale-display 1s;
      display: block;
    }

    &--out {
      animation: scale-display--reversed 0.3s;
      animation-fill-mode:forwards;
      display: block;
      height: 0px;
    }
  }
