.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: $text-color;

  &--services {
    padding-top: 272px;
  }

  &--medicalbook {
    padding-top: 257px;
    background-color: #e9f0f5;
    padding-bottom: 24px;
  }

  &--medicalcheck {
    padding-top: 264px;
    padding-bottom: 28px;
  }

  &--ultrasound {
    padding-top: 260px;
    padding-bottom: 28px;
  }

  &--tests {
    padding-top: 308px;
    padding-bottom: 18px;
  }

  &--doctors {
    padding-top: 228px;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
  }
}

.review__wrap-head {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    width: 65%;
  }
}

.review__wrap {
  max-width: 600px;
  margin-bottom: 42px;

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.review__title-header {
  @include font-title;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 10px;
}

.review__title {
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: $grey;

  &--medicalbook {
    margin-bottom: 15px;
  }

  &--ultrasound {
    margin-bottom: 15px;
  }

  &--tests {
    margin-bottom: 14px;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.review__title-color {
  color: #42afd2;
  font-weight: 700;
}

.review__description-header {
  text-align: center;
  color: $text-color;
  line-height: 18px;
  margin-bottom: 18px;
}

.review__description {
  text-align: left;
  color: $text-color;
  line-height: 17px;
  margin-bottom: 26px;

  &--ultrasound {
    margin-bottom: 35px;
  }

  &--tests {
    margin-bottom: 37px;
  }
}
