.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: $text-color;

  &--services {
    padding-bottom: 49px;
    background-color: #f4f7f9;

    @media (min-width: $tablet-width) {
      padding-bottom: 88px;
    }
  }

  &--medicalbook {
    padding-bottom: 41px;
    background-color: #e9f0f5;

    @media (min-width: $tablet-width) {
      padding-bottom: 73px;
    }
  }

  &--medicalcheck {
    padding-top: 264px;
    padding-bottom: 30px;
    background: url("../img/bg-medicalcheck.png") #f4f7f9;
    background-repeat: no-repeat;
    background-size: 990px;
    background-position: 75% 0;

    @media (min-width: $tablet-width) {
      padding-top: 373px;
      padding-bottom: 87px;
      background-size: 1270px;
      background-position: 84% 0;
    }

    @media (min-width: $desktop-width) {
      padding-top: 112px;
      background-size: 1870px;
      background-position: 47% 0;
    }
  }

  &--ultrasound {
    padding-top: 260px;
    padding-bottom: 44px;
    background: url("../img/bg-ultrasound.png") #e9f0f5;
    background-repeat: no-repeat;
    background-size: 990px;
    background-position: 75% 0;

    @media (min-width: $tablet-width) {
      padding-top: 362px;
      padding-bottom: 83px;
      background-size: 1330px;
      background-position: 95% 0;
    }

    @media (min-width: $desktop-width) {
      padding-top: 131px;
      background-size: 1874px;
      background-position: 48% 0;
    }
  }

  &--tests {
    padding-bottom: 36px;
    background-color: #f4f7f9;

    @media (min-width: $tablet-width) {
      padding-bottom: 81px;
    }
  }

  &--doctors {
    padding-top: 228px;
    padding-bottom: 36px;
    background: url("../img/bg-doctors.png") #e9f0f5;
    background-repeat: no-repeat;
    background-size: 790px;
    background-position: 74% 0;

    @media (min-width: $tablet-width) {
      padding-top: 329px;
      padding-bottom: 81px;
      background-size: 1290px;
      background-position: 81% 0;
    }

    @media (min-width: $desktop-width) {
      padding-top: 186px;
      background-size: 1890px;
      background-position: 50% 0;
    }
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
  }
}

.review__wrap-head {
  margin-bottom: 26px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 65%;
    margin-bottom: 68px;
    max-width: 550px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin-bottom: 75px;
  }
}

.review__img-header {
  display: none;

  @media (min-width: $tablet-width) {
  display: block;
  position: absolute;
  max-width: 400px;
  top: -31px;
  right: -401px;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
    top: -21px;
    right: -621px;
  }
}

.review__wrap {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 42px;

  &--services {
    padding-top: 272px;
    background: url("../img/paper.png") #f4f7f9;
    background-repeat: no-repeat;
    background-size: 280px;
    background-position: center 39px;

    @media (min-width: $tablet-width) {
      padding-top: 405px;
      background-size: 445px;
      background-position: 55% 50px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 87px;
      background-size: 545px;
      background-position: 104% 4px;
    }
  }

  &--medicalbook {
    padding-top: 257px;
    background: url("../img/bg-medicalbook.png") #e9f0f5;
    background-repeat: no-repeat;
    background-position: center 15px;

    @media (min-width: $tablet-width) {
      padding-top: 376px;
      background-size: 544px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 158px;
      background-size: 644px;
      background-position: 106% 6px;
    }
  }

  &--tests {
    padding-top: 308px;
    background: url("../img/bg-tests.png") #f4f7f9;
    background-repeat: no-repeat;
    background-size: 304px;
    background-position: 43% 40px;

    @media (min-width: $tablet-width) {
      padding-top: 421px;
      background-size: 422px;
      background-position: 50% 58px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 165px;
      background-size: 550px;
      background-position: 97% 40px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding-right: 50%;
    margin-left: 0;
    margin-bottom: 5px;
  }
}

.review__title-header {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    padding: 0;
    text-align: left;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 38px;
    line-height: 49px;
    margin-bottom: 21px;
  }
}

.review__title {
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: $grey;

  &--medicalbook {
    margin-bottom: 15px;
  }

  &--ultrasound {
    margin-bottom: 15px;
  }

  &--tests {
    margin-bottom: 14px;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 14px;
    padding-right: 10px;

    &--medicalcheck {
      padding: 0 40px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
    text-align: left;
  }
}

.review__description-header {
  text-align: center;
  color: $text-color;
  line-height: 18px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 25px;
    padding-right: 37px;
    margin-bottom: 36px;
  }
}

.review__description {
  text-align: left;
  color: $text-color;
  line-height: 17px;
  margin-bottom: 26px;

  &--ultrasound {
    margin-bottom: 35px;
  }

  &--tests {
    margin-bottom: 37px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 25px;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 48px;

    &--medicalcheck {
      padding: 0 25px;
    }
  }

  @media (min-width: $desktop-width) {
    color: $light-grey;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    padding: 0;
  }
}
