.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    align-items: flex-start;
  }
}

.review__wrap-head {
  @media (min-width: $tablet-width) {
    width: 65%;
  }
}

.review__wrap {
  max-width: 600px;

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.review__title-header {
  @include font-title;
  margin: 0;
  margin-bottom: 22px;
  padding: 0 10px;
}

.review__title {
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: $grey;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.review__title-color {
  color: #42afd2;
  font-weight: 700;
}

.review__description {
  text-align: center;
  color: $text-color;
}

.review--medicalbook {
  background-color: #e9f0f5;
  padding-top: 260px;
  padding-bottom: 30px;
}
