.services {
  padding: 40px 0 40px;
  background-color: #f4f7f9;
  color: $grey;
}

.services__wrap {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 270px;
}

.services__title {
  font-size: 24px;
  line-height: 52px;
  font-weight: 400;
  text-align: center;
}

.services__title-color {
  color: #42afd2;
  font-weight: 700;
}
