.services {
  color: $grey;
  background-color: #f4f7f9;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 79px;
  }
}

.services__wrap {
  text-align: center;
  padding: 0 34px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 22px;
    margin-bottom: 0;
  }
}

.services__title {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 52px;
  }
}
